<!DOCTYPE HTML>

<html>
    <head>
        <meta charset="utf-8">
        <title>Choose Your Own Aventure</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adventure_style.css') }}">
    </head>
    <body>
        <div id="wrapper">
            <h1>Choose your own Adventure</h1>
            <p>You awake in a room with two doors. Where do you go?</p>
            <a href="http://localhost:5000/left">left</a>
            <a href="http://localhost:5000/right">right</a>
        </div>
    </body>
</html>