<!DOCTYPE HTML>

<html>
    <head>
        <meta charset="utf-8">
        <title>Left Branch</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/adventure_style.css') }}">
    </head>
    <body>
        <div id="wrapper">
            <h1>Choose your own Adventure</h1>
            <p class="red">You enter a room with a giant spider and it eats you. Game over.</p>
            <a href="http://localhost:5000/">start over</a>
        </div>
    </body>
</html>